<!-- views/edit_profile.ejs -->
<%-include('../layouts/header') %>
<div class="product-add-form">
    <form action="/profiles/<%= profile._id %>/edit" method="POST">
        <input type="text" name="name" value="<%= profile.name %>" required>
        <input type="file" name="image" value="<%= profile.image %>" required>
        <textarea name="bio" required><%= profile.bio %></textarea>
        <input type="text" name="location" value="<%= profile.location %>" required>
        <button type="submit">Update Profile</button>
    </form>
</div>
<%-include('../layouts/footer') %>
