<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="navbar">
            <% if (username)  { %>
            <div class="logo"><a href="/">Welcome, <%= username %> </a></div>
            <% } else { %>
            <div class="logo"><a href="/">Welcome </a></div>
            <% } %>
            <nav>
                <ul>
                    <% if (username) { %>
                        <li><a href="/">Home</a></li>
                        <li><a href="/">About us</a></li>
                        <li><a href="/products/addProduct">Add New Product</a></li>
                        <li><a href="/logout">Logout</a></li>
                        <li><a href="/cart/:userId">All Cart</a></li>
                    <% } else { %>
                        <li><a href="/auth/login">Login</a></li>
                        <li><a href="/auth/register">Register</a></li>
                    <% } %> 
                </ul>
            </nav>
        </div>
    </header>
    <% if (authenticated || username) { %>
        <h1>Product List</h1>
        <div class="products">
            <% if (products.length > 0) { %>
                <% products.forEach(product => { %>
                    <div class="product">
                        <div class="image">
                            <img src="/uploads/<%= product.image %>" alt="Product Image">
                        </div>
                        <hr>
                        <div class="product-info">
                            <p><%= product.name %></p>
                            <p><%= product.price %></p>
                            <p><%= product.author %></p>
                            <p><%= product.quantity %></p>
                        </div>
                        <hr>
                        <div class="buttons">
                            <h3><a href="/products/<%= product._id %>/edit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                            </svg></a></h3>
                            <form action="/cart/add/<%= product.userId %>" method="POST">
                                <button type="submit">Add to Cart</button>
                            </form>
                            <form action="/products/<%= product._id %>?_method=DELETE" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                <% }); %>
            <% } else { %>
                <h3>No products available</h3>
            <% } %>
        </div>
    <% } else { %>
        <h1>No Products Available</h1>
        <p>Please <a href="/auth/login">login</a> to view products.</p>
    <% } %>

</body>
</html>
