<%- include('../layouts/header') %>
<%-include('../home') %>
    <h1>Your Cart</h1>
    <% if (cart && cart.products.length > 0) { %>
        <ul>
            <% cart.products.forEach(item => { %>
                <li>
                    <h2><%= item.product.name %></h2>
                    <p>Price: $<%= item.product.price %></p>
                    <p>Author: <%= item.product.author %></p>
                    <p>Quantity: <%= item.quantity %></p>
                    <form action="/cart/update" method="POST">
                        <input type="hidden" name="productId" value="<%= item.product._id %>">
                        <input type="number" name="quantity" value="<%= item.quantity %>">
                        <button type="submit">Update Quantity</button>
                    </form>
                    <form action="/cart/remove" method="POST">
                        <input type="hidden" name="productId" value="<%= item.product._id %>">
                        <button type="submit">Remove</button>
                    </form>
                </li>
            <% }); %>
        </ul>
        <form action="/cart/checkout" method="POST">
            <button type="submit">Checkout</button>
        </form>
    <% } else { %>
        <p>Your cart is empty.</p>
    <% } %>
<%-include('../layouts/footer') %>
